@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

body, input, select, textarea, button{
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  
}

.App{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #203040;
  color: white;
  display: flex;
  align-items: center;
  padding: .5rem;
}

a:hover{
  color: orange;
}

header a {
  color: white;
  text-decoration: none;
}

a{
  text-decoration: none;
}

main{
  grid-area: main;

}

footer{
  grid-area: footer;
  background-color: #203040;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
}

.content{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
}

/* Products */
.main-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
  
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img{
  max-width: 30rem;
  max-height: 30rem;
}

.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price div, 
.button{
text-align: center;
flex: 1;
}

.price div{
  font-size: 2rem;
}

.button{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;

}

.button:hover{
  border: 0.1rem #888888 solid;
}

.button{
  background-color: #f0c040;
}